/PencilBox/PencilBox_Data
/PencilBox/bin
/PencilBox/obj
/PencilBox/*.config

/PbData/bin
/PbData/obj
/PbData/*.config

/Juddy.Admin/bin
/Juddy.Admin/obj

/Juddy.Services/bin
/Juddy.Services/obj

/Juddy.Testing/PencilBox_Data
/Juddy.Testing/bin
/Juddy.Testing/obj

PencilBox.v11.suo
PencilBox.v11.suo.BACKUP.8972.suo
PencilBox.v11.suo.BASE.8972.suo
PencilBox.v11.suo.LOCAL.8972.suo
PencilBox.v11.suo.REMOTE.8972.suo
PencilBox/Properties/PublishProfiles/pbox2.pubxml.user
