﻿@model IEnumerable<PbData.Entities.pb_Product>

@{
    ViewBag.Title = ViewBag.TagName;
}

@Html.Action("p_TagHeader", "Tag", new { tagName = ViewBag.TagName})

@Html.Partial("p_ProductListView", Model)

@*<div id="main" style="background-color:#dadad6; margin-left:-2px">
    <ul id="tiles">
        @foreach (var item in Model)
        {
            if (@item.pb_Photo.Count > 0)
            {
                System.Drawing.Image image = System.Drawing.Image.FromFile(Server.MapPath("~/PencilBox_Data/Images/") + item.pb_Photo.First().ImagePath);
            <li>
                <div>
                    <a href="~/Product/Detail?productId=@item.ProductId">
                        <img src="~/PencilBox_Data/Images/@item.pb_Photo.First().ImagePath" width="230" height="@((230 * image.Height)/image.Width)" />
                    </a>
                    <div class="theme-j" style="padding:6px 4px">
                        <b style="float:right; color:#ea1943;">@(item.Price/1000)K</b>
                        <a href="~/Product/Detail?productId=@item.ProductId">@item.Name</a>
                    </div>
                </div>
            </li>
            }
        }
    </ul>
</div>*@

@section headercontent
{
    @*<link href="~/Content/wookmark/reset.css" rel="stylesheet" />*@
    <link href="~/Content/wookmark/style.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Content/wookmark/jquery.wookmark.min.js"></script>
	 <script src="~/Content/wookmark/jquery.imagesloaded.js"></script>
    @if (!Request.IsAuthenticated) {
    <script>
        var isLogin = false;
	</script>
    }
    else
    {
        <script>
            var isLogin = true;
        </script>
    }
    <script type="text/javascript">
    (function ($) {
        $('#tiles').imagesLoaded(function () {
            var handler = null;

            // Prepare layout options.
            var options = {
                autoResize: true, // This will auto-update the layout when the browser window is resized.
                container: $('#main'), // Optional, used for some extra CSS styling
                offset: 10, // Optional, the distance between grid items
                itemWidth: 220 // Optional, the width of a grid item
            };

            function applyLayout() {
                $('#tiles').imagesLoaded(function () {
                    // Destroy the old handler
                    if (handler.wookmarkInstance) {
                        handler.wookmarkInstance.clear();
                    }

                    // Create a new layout handler.
                    handler = $('#tiles li');
                    handler.wookmark(options);
                    triggerFavouriteClick(handler);
                    triggerShowSummary(handler);
                });
            }

            /**
                * When scrolled all the way to the bottom, add more tiles.
                */
            /*function onScroll(event) {
                // Check if we're within 100 pixels of the bottom edge of the broser window.
                var winHeight = window.innerHeight ? window.innerHeight : $(window).height(); // iphone fix
                var closeToBottom = ($(window).scrollTop() + winHeight > $(document).height() - 100);

                if (closeToBottom) {
                    // Get the first then items from the grid, clone them, and add them to the bottom of the grid.
                    var items = $('#tiles li'),
                        firstTen = items.slice(0, 10);
                    $('#tiles').append(firstTen.clone());
                    $('#tiles li').find('.cover-block').click(function (e) {
                        var targetSource = $(this).closest('a');
                        //$('#pb-frame-loader').attr('src', $(targetSource).attr('href'));
                        $('.thumb-content').load($(targetSource).attr('href'), function () {
                            $('body').css('overflow', 'hidden');
                            $('.overlay-wrap').fadeIn(function () {
                                //$('.block-overlay-content').css({ 'top': OVERLAY_HIDE_TOP, 'display': 'block' }).animate({ top: 0 }, 'fast');
                                $('.block-overlay-content').fadeIn();
                            });
                        });
                            
                        return false;
                    });
                    applyLayout();
                }
            };*/

            $('#jd-loading-more').click(function (e) {
                var clickLink = this;
                var sourceURL = $(this).attr('href');
                $.get(sourceURL, function (data, status) {
                    if (status === 'success') { //SUCCESS FETCH
                        $('#tiles').append(data);
                        applyLayout();
                        $(clickLink).attr('href',incPage(sourceURL)); //Update loading 
                    } else {
                        //PROCESSING ERRORS CANNOT FETCH DATA
                    }
                });
                return false;
            });

            // Capture scroll event.
            //$(window).bind('scroll', onScroll);

            // Call the layout function.
            handler = $('#tiles li');
            applyLayout();
        });
        var MAIN_CONTENT_WIDTH = $('.main-content').width();
        var MAIN_CONTENT_HEIGHT = $('.main-content').height();
        //Callback for showing Summary Block
        function triggerShowSummary(targetElement) {
            $(targetElement).find('.cover-block').click(function (e) {
                var targetSource = $(this).closest('a');
                $('.thumb-content').load($(targetSource).attr('href'), function () {
                    $('body').css('overflow', 'hidden');
                    $('.overlay-wrap').fadeIn(function () {
                        $('.block-overlay-content').fadeIn();
                    });
                });
                return false;
            });
        }
        //Callback for Favourite Button
        function triggerFavouriteClick(targetElement) {
            $(targetElement).find('.button-favourite').click(function (e) {
                var targetSource = $(this).attr('href');
                var parent = this;
                if (isLogin === false) {
                    window.location.href = "/ctrl/account/login?ReturnUrl=Index";
                }
                else {
                    $.getJSON(targetSource, function (data) {
                        if (data.stt == '1') {
                            $(parent).find('img').attr('src', '/Content/images/tool-Shape-Heart.png');
                        }
                        else if (data.stt == '0') {
                            $(parent).find('img').attr('src', '/Content/images/tool-Heart.png');
                        }
                    });
                }
                return false;
            });
        }
    })(jQuery);

    function incPage(linkUrl) {
        var temp = linkUrl.split('&');
        var page_param = temp[1].split('=');
        if (temp.length === 2 && page_param.length === 2) {
            page_param[1] = parseInt(page_param[1]) + 1;
            temp[1] = page_param.join('=');
            return temp.join('&');
        }
        return linkUrl;
    }
    </script>
}