@model IEnumerable<PbData.Entities.pb_Product>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div id="panel_ProductSearch" class="border-bottom" 
    style="padding-bottom:4px; margin-bottom:6px">

    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Hôm nay <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Hôm nay</a></li>
                <li><a href="#">Từ hôm qua</a></li>
                <li><a href="#">Trong tuần này</a></li>
                <li><a href="#">Trong tháng này</a></li>
            </ul>
        </div>
        <input type="text" class="form-control">
        <span class="input-group-btn">
            <button type="button" class="btn btn-info">search</button>
        </span>
    </div>

    @*<table class="grid">
        <tr>
            <td style="width:140px">
                <select class="dropDown" style="width:140px; margin-top:-1px">
                    <option value="1">Hôm nay</option>
                    <option value="2">Từ hôm qua</option>
                    <option value="3">Trong tuần này</option>
                    <option value="3">Trong tháng này</option>
                </select>
            </td>
            <td>
                @using (Html.BeginForm("Filter", "Product", FormMethod.Get, new { style="display:inline" }))
                {
                    <input type="text" name="request" value="@ViewBag.FilterRequest"
                        style="width:97%; height:20px; outline:none; padding:4px; border-color:#dadad6; color:black; font-family:'Segoe UI'"
                        placeholder="tìm kiếm" />
                }
            </td>
            <td style="width:120px">
                <a href="#" class="theme-a" 
                    style="display:inline-block; width:120px; height:30px; line-height:30px; text-align:center">Search</a>
            </td>
        </tr>
    </table>*@
</div>

@if (Model.Count() == 0)
{
    <p>Bạn chưa đăng sản phẩm nào. Hãy bắt đầu ngay. ^^</p>
}

@foreach (var item in Model)
{
    if(item.CoverImage != null)
    {
        @Html.Partial("p_ProductView", item)
    }
}