﻿@model IEnumerable<PbData.Entities.pb_Product>

@{
    Layout = null;
}

<div id="main" style="margin-left:-2px">
    <ul id="tiles">
        @{string coverImage = "";}
        @{int count = 0;}
        @foreach (var item in Model)
        {
            if (@item.pb_Photo.Count > 0)
            {
                //coverImage = item.CoverImage.ImagePath;
                coverImage = item.CoverImage.ImageFixW1();
                System.Drawing.Image image = System.Drawing.Image.FromFile(Server.MapPath("~/PencilBox_Data/Images/") + coverImage);
            <li>
                <div class="item-inner">
                    <a class="cover-block" href="@Url.Action("detail", "product", new { productId = item.ProductId, q = "summary" })">
                        <img src="~/PencilBox_Data/Images/@coverImage" 
                            width="230" 
                            height="@((230 * image.Height)/image.Width)" />
                    </a>
                    <div class="theme-j" style="padding:6px 4px;">
                        <b style="float:right; color:#ea1943;">@item.HumanShortPrice()</b>

                        <a href="@Url.Action("detail", "product", new { productId = item.ProductId })">@item.DisplayName()</a>
                    </div>
                    @if (ps_Membership.IsAuthenticated() &&
                        item.IsTag(ps_Membership.GetUser().UserId, 
                        PbData.Business.ESpecialTag.Favourite))
                    {
                        <div class="theme-b jd-btn-favourite-sm">
                            <a class="button-favourite" href="@Url.Action("Favourite", "Product", new { productId = @item.ProductId })" class="button-favourite">
                                <img src="~/Content/images/tool-Shape-Heart.png" width="35" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="theme-b jd-btn-favourite-sm">
                            <a class="button-favourite" href="@Url.Action("Favourite", "Product", new { productId = @item.ProductId })" style="line-height:35px;" >
                                <img src="~/Content/images/tool-Heart.png" width="35" />
                            </a>
                        </div>
                    }
                </div>
				<div>
				</div>
            </li>
            }
        }
    </ul>
</div>
<div style="text-align: center"><a href="@Url.Action("page", "product", new { tagName = @ViewBag.tagName, page = 1 })" id="jd-loading-more" class="btn btn-default">Xem thêm.....</a></div>
<div class="overlay-wrap"></div>
<div class="block-overlay-content row"><div class="thumb-content"></div></div>
<script>
var OVERLAY_HIDE_TOP = window.innerHeight + 500;
var OVERLAY_TOP = window.innerHeight + 500;

function pb_closeOverlay() {
	$('.block-overlay-content').fadeOut(function () {
	    $('.overlay-wrap').fadeOut();
	    $('body').css('overflow', 'auto');
	});
}
$('.overlay-wrap').click(function(e) {
	if(e.target == e.currentTarget) {
	var parent = this;
	$('.block-overlay-content').fadeOut(function () {
				$(parent).fadeOut();
			});
	}
});
</script>
