﻿@model PbData.Entities.pb_Product
@{
    Layout = null;
}
<div class="jd-sm-left-panel">
    <span id="pb-btn-close" onclick="pb_closeOverlay()"></span>
    <div class="jd-summary-block">
        @{string coverImage = "";}
        @if (@Model.pb_Photo.Count > 0)
        {
            //coverImage = item.CoverImage.ImagePath;
            coverImage = Model.CoverImage.ImageFixH1();
            System.Drawing.Image image = System.Drawing.Image.FromFile(Server.MapPath("~/PencilBox_Data/Images/") + coverImage);
            <div style="text-align: center">
                <a href="@Url.Action("detail", "product", new { productId = Model.ProductId})">
                    <img class="thumb-cover" src="~/PencilBox_Data/Images/@coverImage" />
                </a>
            </div>
        }
        <div class="jd-sm-func-bar">
        <ul>
            <li>
                 <b style="font-weight:bold; font-size: 20.83px; color: #fff">@Model.HumanPrice()</b> VNĐ
            </li>
            @if(ps_Membership.IsCurrentUser(Model.UserId))
            {
                <li style="width: 120px;">
                    <a class="modern-button theme-a"
                        href="https://www.facebook.com/sharer/sharer.php?u=@ps_ServerHelper.Domain/Product/Detail?productId=@Model.ProductId" 
                        target="_blank">Share</a>
                </li>
                <li style="width: 80px; padding-left:4px">
                    @Html.ActionLink("Edit", "Edit", "Product", 
                        new { productId = @Model.ProductId }, 
                        new { @class = "modern-button theme-b" })
                </li>
                <li style="width: 80px; padding-left:4px">
                    @Html.ActionLink("Delete", "Delete", "Product", 
                        new { id = @Model.ProductId }, 
                        new { @class = "modern-button theme-b" })
                </li>
            } 
            else
            {
                <li style="width: 120px;">
                    @Html.ActionLink("Buy", "New", "Order", 
                        new { productId = @Model.ProductId }, 
                        new { @class = "modern-button theme-a" })
                </li>

                <li style="width: 80px; padding-left:4px">
                    @if (ps_Membership.IsAuthenticated() &&
                        Model.IsTag(ps_Membership.GetUser().UserId, 
                        PbData.Business.ESpecialTag.Favourite))
                    {
                        <div style="height:35px; text-align:center" class="theme-b">
                            <a href="#" style="line-height:35px;">
                                <img src="~/Content/images/tool-Shape-Heart.png" width="35" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div style="height:35px; text-align:center" class="theme-b">
                            <a href="@Url.Action("Favourite", "Product", new { productId = @Model.ProductId })" style="line-height:35px;" >
                                <img src="~/Content/images/tool-Heart.png" width="35" />
                            </a>
                        </div>
                    }
                </li>
            }
        </ul>
        </div>
    </div>
</div>
<div class="jd-sm-right-panel">
    <div class="jd-summary-block">
        <h2>@Model.DisplayName()</h2>
        <p class="jd-product-code">Mã sản phẩm: @Model.HumanCode</p>
        <p class="well well-small jd-product-desc">@Html.Raw(HttpUtility.HtmlDecode(Model.Description))</p>
    </div>

</div>