@{Layout = null;}

<header>
    <div class="row">
    <div class="col-sm-3" style="margin:2px">
        <button type="button" class="btn btn-sm btn-default btn-block"
            style="background-color:#ea1943; margin-left:-1px;
            border-color:#ea1943; color:white; font-size:16px; 
            padding: 1px 4px 3px 4px;">juddy admin</button>
    </div>
    </div>
</header>