@{Layout = null;}

<footer>
    <div class="content-wrapper">
        <div class="float-left" style="color:white">
            <span>&copy; @DateTime.Now.Year - juddy.vn</span>
            <span> | </span>
            <a href="https://www.dropbox.com/s/l086kec8rlfehtc/Juddy.pdf" 
                style="color:white" target="_blank">hướng dẫn</a>
            @*<span> | </span>
            <a href="mailto:tampham47@live.com?subject=Message&body=Message"
                style="color:white">liên hệ</a>*@
        </div>
    </div>
</footer>