@{Layout = null;}

<footer>
    <div class="content-wrapper">
        <div class="float-left" style="color:white">
            <p>&copy; @DateTime.Now.Year - juddy.vn</p>
        </div>
    </div>
</footer>