@{Layout = null;}

<header>
    <div class="content-wrapper relative">
        <table style="margin-top:1px">
            <tr>
                @*<td style="width:55px; padding-left:0px; padding-right:0px;">
                    <div style="height:30px; width:75px; background-color:#ea1943; color:white; text-align:center">
                        <a href="~/" style="color:white; text-decoration: none; line-height:30px; vertical-align:top; font-size:17px;">juddy</a></div></td>

                <td style="padding-left:0px">
                    @using (Html.BeginForm("Filter","Product"))
                    {
                        <input type="text" name="request" value="@ViewBag.FilterRequest"
                            style="font-size:14px; width:190px; height:30px; outline:none; padding:4px; background-color:#727268; border-color:#68685e; color:white"
                            placeholder="#tags" />
                    }
                </td>*@
                <td>
                    <div class="input-group" style="margin-left:-4px">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" 
                                style="margin-right:0px; width:80px; background-color:#ea1943; border-color:#ea1943; color:white; font-size:16px; padding: 1px 4px 3px 4px;">juddy</button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/men">Thời trang nam</a></li>
                                <li><a href="/women">Thời trang nữ</a></li>
                                <li><a href="/kid">Thời trang trẻ nhỏ</a></li>
                                <li><a href="/handmade">Đồ handmade</a></li>

                                <li role="presentation" class="divider"></li>
                                <li><a href="/">Trang chủ</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control input-sm" placeholder="#tags" 
                            style="background-color:#727268; border-color:#68685e; color:white; font-size:14px; outline:none">
                    </div>
                </td>
                <td style="width:500px"></td>
                <td style="padding-right:0px; width:40px">
                    <div style="height:30px; width:70px; color:white; text-align:center">
                        <a href="@Url.Action("Add", "Tag")" style="color:white; text-decoration: none; line-height:30px;">
                            tạo shop
                        </a>
                    </div>
                </td>
                <td>
                    @Html.Partial("_LoginPartial")
                </td>
            </tr>
        </table>
    </div>
</header>