<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Local-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=PencilBox;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="pb_Entities" 
         connectionString="metadata=res://*/Entities.PencilBox.csdl|res://*/Entities.PencilBox.ssdl|res://*/Entities.PencilBox.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PencilBox;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->

    <!--Azure-->
    <add name="DefaultConnection" connectionString="Server=tcp:wsnu8aj50p.database.windows.net,1433;Database=PencilBoxDev;User ID=tucuong@wsnu8aj50p;Password=!@#45QWErt;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="pb_Entities"
         connectionString="metadata=res://*/Entities.PencilBox.csdl|res://*/Entities.PencilBox.ssdl|res://*/Entities.PencilBox.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:wsnu8aj50p.database.windows.net,1433;Database=PencilBoxDev;User ID=tucuong@wsnu8aj50p;Password=!@#45QWErt;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>