@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p>Chuyện tình dưới mưa</p>

@*@section rightpanel
{
    <div class="metro-panel">
        <a href="/User?userId=@Model">Thông Tin</a>
        <a href="/Location?userId=@Model">Địa chỉ</a>
        <a href="/Place/ByUser?userId=@Model">Địa điểm đã tạo</a>
        <a href="/Arrived?userId=@Model">Địa điểm đã tới</a>
    </div>
}*@

