﻿*, body {
    margin: 0px;
    padding: 0px;
}
body{
border: none;
}
#body {
background: #E8E8E8;
min-width: 640px;
padding-top: 40px;
border-top: 10px solid #000;
}
.relative {
    position: relative;
}

.header-LeftItem {
    position: absolute;
    width: 200px;
    left: 0px;
    top: 0px;
}

.header-RightItem {
    position: absolute;
    width: 200px;
    right: 0px;
    top: 0px;
}

table {
    margin-top: 0px;
    width: 100%;
}

header#top-header {
	position: fixed;
	width: 100%;
	height:50px;
	z-index: 1000;
}
.float-right {
    text-align: right;
}

.NoBorder {
    border:none;
}

.DarkMetroButton
{
    width: 100%;
    background-color: #064A45;
    display: block;
    color: White;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration:none;
}

.DarkMetroButton:hover
{
    color: White;
    text-decoration: none;
    background-color: #03211F;
}

.LightMetroButton
{
    width: 100%;
    background-color: #EEEEEE;
    display: block;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration:none;
}

.LightMetroButton:hover
{
    color: #000000;
    text-decoration: none;
    background-color: #CCCCCC;
}

.wrapper-a {
    margin: 0px auto 0px auto;
    width: 750px;
}

.image-slider {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #31322e;
    padding-top:10px; 
    padding-bottom:10px; 
    background-color:#363733;
}

.header-tag {
    /*border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #C0C0C0;
    border-bottom-color: #C0C0C0;*/

    background-color: #dadad6;
}

#main-panel {
    margin:0px;
    padding:0px;
    width:680px;
    display:inline-block;
    vertical-align:top;
    padding-right:20px
}

#right-panel {
    margin:0px;
    padding:0px;
    width:250px;
    display:inline-block;
    vertical-align:top;
    float:right;
}

#left-panel {
    margin:0px;
    padding:0px;
    width:250px;
    display:inline-block;
    vertical-align:top;
    float:right;
}

.metro-panel a
{
    background-color: #EEEEEE;
    width:inherit;
    display: block;
    /*font-weight: bold;*/
    padding-left:7px;
    margin-top: 2px;
    padding-bottom: 2px;
    line-height: 2.4em;
    text-decoration: none;
}

.metro-panel label
{
    width:inherit;
    display: block;
    font-weight: bold;
    padding-left:7px;
    margin-top: 2px;
    padding-bottom: 2px;
    line-height: 2.4em;
    text-decoration: none;

    background-color: #ea1943;
    border-color: #ea1943;
    color:white;
}

.metro-panel div {
    height:30px; 
    line-height:30px;
    padding-left:8px;
    color:white;
}

.metro-panel a:hover
{
    color: #000000;
    text-decoration: none;
    background-color: #CCCCCC;
}

.element {
    padding:4px 0px;
}
.grid {
    margin:0px;
    padding:0px;
}

.grid td {
    margin:0px;
    padding:0px;
}

.grid-content {
    margin:4px 0px;
    padding:0px;
}

.grid-content td {
    padding:0px 4px 0px 0px;
}

.align-right {
    text-align: right;
}

.border-top {
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: #C0C0C0;
    margin-top:10px;
    padding-top:4px;
}

.border-bottom {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
    margin-bottom:4px;
}

.sub-main {
    width:630px;
    display:inline-block;
    vertical-align:top;
}

.sub-right {
    width:300px;
    display:inline-block;
    float:right;
    vertical-align:top;
}

.modern-button
{
    width: 100%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 8px 0px;
    text-decoration:none;
    font-size:14px;
}

input[type="submit"] {
    border-style: solid;
    border-width: 2px;
}

/*.modern-button a {
    border-style: solid;
    border-width: 2px;
}*/

.theme-a {
    background-color: #ea1943;
    border-color: #ea1943;
    color:white;
}
    .theme-a:hover {
        background-color:#db143c;
        color:white;
    }


.theme-b
{
    background-color: #EEEEEE;
}
    .theme-b:hover {
        color: #000000;
        background-color: #CCCCCC;
    }

/*Tag theme*/
.tag {
    padding:4px 8px; 
    text-decoration:none; 
    margin-bottom:4px;
    margin-right:4px;
    display:inline-block;
}

.theme-d
{
    background-color: #5f9d1e;
}
    .theme-d:hover {
        color: white;
        background-color: #508419;
    }

.theme-e
{
    background-color: #e2505b;
}
    .theme-e:hover {
        color: white;
        background-color: #dd3542;
    }

.theme-f
{
    background-color: #1d7ea8;
}
    .theme-f:hover {
        color: white;
        background-color: #186b8f;
    }

.theme-g
{
    background-color: #99c9b9;
}
    .theme-g:hover {
        color: white;
        background-color: #83bdaa;
    }

.theme-h
{
    background-color: #ffcc4c;
}
    .theme-h:hover {
        color: white;
        background-color: #fec32d;
    }

.theme-j
{
    background-color: #EEEEEE;
}
    .theme-j:hover {
        color: #000000;
        background-color: #e2e2e2;
    }
/*End Tag theme*/

/*.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #ea1943;
}*/

.width80 {
    width:80px;
}

.width120 {
    width:120px
}

.left-element {
    width:90px;
    text-align: right;
}

table .label {
    text-align:right; 
    width:90px;
}

.pointer {
    cursor: pointer;
}

.btn-juddy {
    background-color: #ea1943;
    border-color: #ea1943;
    color: white;
}
.btn-juddy:hover {
    background-color: #db143c;
<<<<<<< HEAD
}
.link-new-shop a {
	color: #fff;
}
.menu-functions {
	list-style: none;
	list-style-type: none;
	margin-top: 5px;
}
.menu-functions li {
	float: right;
	padding-left: 15px;
}
.menu-functions li a {
	display: inline-block;
	line-height: 30px;
}
.filter-box {
background-color:#727268; border-color:#68685e !important; color:white; font-size:14px; outline:none; width: auto !important;
}

.item-inner:hover {

}
.inner-header-left {
	float: left;
	width: 50%;
}
.inner-header-right {
	float: right;
	width: 50%;
}
.button-favourite {
	line-height: 35px;
	width: 35px;
	background: #fff;
	display: block;
	text-align: center;
	float: right;
}
.button-favourite img {
	width: 35px !important;
}

.overlay-wrap {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/*background: #464742;
	filter: alpha(opacity=75);
	opacity: .75;*/
	background: #222;
	z-index: 4000;
	display: none;
}
.block-overlay-content {
	position: fixed;
	top: 0;
	left: 0;
    bottom: 0;
    right: 0;
	min-height: 200px;
	width: 100%;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 16px;
	-webkit-transition-duration: .13s;
	transition-duration: .13s;
	-webkit-transition-property: top;
	transition-property: top;
	z-index: 4001;
	display: none;
    padding: 0px !important;
    margin: 0px !important;
    overflow-y: scroll;
}
.thumb-content {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition-duration: .218s;
	transition-duration: .218s;
	-webkit-transition-property: color,opacity;
	transition-property: color,opacity;
	vertical-align: top;
}
.thumb-content .col-md-8, .thumb-content .col-md-4 {
    padding: 0px;
    margin: 0px;
}
.thumb-content .jd-sm-left-panel {
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
.thumb-content .jd-sm-right-panel {
    position: absolute;
    width: 30%;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.overlay-active {
	display: block !important;
}
#pb-btn-close {
    display: block;
    width: 48px;
    height: 48px;
    background: url('images/jd-btn-close-dark.png') 0px 0px no-repeat;
    float: right;
    cursor: pointer;
}
#pb-btn-close:hover {
    background: url('images/jd-btn-close-light.png') 0px 0px no-repeat;
}
.jd-summary-block {
    padding: 10px;
}
.jd-sm-func-bar {
    padding-top: 10px;
    width: 320px;
    margin: 0 auto;
}
.jd-sm-func-bar ul {
    list-style: none;
    width: 100%;
}
.jd-sm-func-bar li {
    float: left;
    padding-left: 5px;
}
.jd-sm-func-bar li a {
    display: inline-block;
}
.jd-btn-favourite-sm {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 35px;
    width: 35px;
    text-align: center;
}
.btn {
    border-radius: 0px !important;
}
.dropdown-menu {
    border-radius: 0px;
}
/*.dropdown-toggle:hover + ul.dropdown-menu, ul.dropdown-menu:hover {
   display: block;
}*/
.dropdown-menu {
    padding: 0px;
    margin: 4px 0px 0px 0px;
}
.menu-functions .dropdown-menu li  a {
	display: inline-block;
	text-align: right;
}
.menu-functions .dropdown-menu li {
	padding-left: 0px;
	width: 100%;
	float: left;
	text-align: right;
}
.menu-functions .dropdown-menu li:hover {
	background: #428BCA;
}
input {
border-radius: 0px !important;
}
.jd-product-code {
    margin: 10px 0px 10px;
}
.jd-product-desc {
    color: #282828;
    text-align: justify;
    padding: 10px;
=======
>>>>>>> parent of 990f9c8... Phân trang.
}